.about {
  @include flexCenter;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1rem;
  background: rgba(000, 000, 000, 0.5);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow-y: auto;
  @include scrollbar;

  @include media("<md") {
    margin-top: 1rem;
  }

  &__page {
    height: 550px;
    max-height: 550px;
    max-width: 890px;
    margin: auto;
  }
  &__top {
    @include flexCenter;
    justify-content: unset !important;
    flex-direction: column;
    gap: 0.5rem;
    h5 {
      width: max-content;
    }

    &__image {
      min-width: 170px;
      min-height: 170px;
      width: 170px;
      height: 170px;
      transition: var(--transition-150);
      overflow: hidden;
      border-radius: 50%;
      &:hover img {
        transform: scale(1.1);
      }
    }
    img {
      transition: var(--transition-150);
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  &__project {
    width: 100%;
    display: flex;
    flex-direction: column;

    h3 {
      text-transform: uppercase;
      color: rgb(194, 36, 62);
      @include media("<md") {
        text-align: center;
      }
    }

    &__head {
      color: rgb(194, 36, 62);
      font-weight: bold;
      font-size: 1.1rem;
    }
    &__sources {
      @include flexCenter;
      gap: 2rem;

      &--item {
        font-size: 2rem;
        transition: var(--transition-150);
        cursor: pointer;
        i {
          transition: var(--transition-150);
        }
        &:hover {
          transform: scale(1.1);
          i {
            color: rgb(194, 36, 62);
          }
        }
      }
    }
  }
}
