* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background: #1d1d1d !important;
  // background: var(--bg) !important;
  font-family: var(--ff-text);
}

body {
  counter-reset: results;
}
.container-wrapper {
  padding: 0 2rem;
}

.error {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-top: 3rem;
}
