* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background: var(--bg) !important;
  font-family: var(--ff-text);
}
.container-wrapper {
  padding: 0 2rem;
}

input,
button {
  appearance: none;
  border: none;
  border: none;
  background: none;
}

.error {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 100vh;
}
