* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--ff-text);
}

body {
  background-color: var(--bg);
  padding: 0 1rem;
}
.container-wrapper {
  padding: 0 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-header);
}
input,
button {
  appearance: none;
  border: none;
  border: none;
  background: none;
}

.btn {
  cursor: pointer;
  font-size: 1.3rem;
  transition: var(--transition-150);
  color: var(--btn-bg2);

  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(0.9);
    opacity: 0.5;
  }
}

.input {
  flex: 1 1 0%;
  background-color: var(--darker);
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--text);
  font-size: 1rem;
  transition: var(--transition-150);
  border: 2px solid var(--border);
  outline: none;

  &::placeholder {
    color: var(--grey);
    font-size: 1.1rem;
  }
  &:focus-within {
    transform: scale(1.01);
    border: 2px solid var(--accent);
  }
}
//Overrides for default browser colors for placeholder text on inputs!

input[type="date"]::before,
input[type="time"]::before {
  color: var(--text);
  content: attr(placeholder);
}
input[type="date"] {
  color: var(--grey);
}
input[type="time"] {
  color: var(--grey);
}
input[type="time"]:focus,
input[type="time"]:valid {
  color: var(--text);
}
input[type="date"]:focus,
input[type="date"]:valid {
  color: var(--text);
}
input[type="date"]:focus::before,
input[type="date"]:valid::before,
input[type="time"]:focus::before,
input[type="time"]:valid::before {
  content: "" !important;
}

.btn-cta {
  cursor: pointer;
  color: var(--text);
  background-color: var(--darkest);
  border-radius: 0.8rem;
  font-weight: bold;
  border: 2px solid var(--border);
  transition: var(--transition-250);

  &:hover {
    // Override
    background: var(--btn-bg2) !important;
    color: var(--modal);
  }
}
// Hide elements if no tasks are available
.hide-element {
  display: none !important;
}

.snackbar {
  visibility: hidden;
  min-width: 200px;
  background-color: var(--btn-bg2);
  color: var(--modal);
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 0.9rem;
  font-size: 0.92rem;
  text-align: center;
  position: fixed;
  z-index: 1;
  right: 4rem;
  bottom: 1rem;
  font-family: var(--ff-header);
  box-shadow: var(--box-shadow);

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -1.7rem;
    transform: translateX(-50%) rotate(-180deg);
    border: 20px solid transparent;
    border-bottom-color: var(--btn-bg2);
    z-index: -1;
  }
}

.snackbar.show {
  visibility: visible;
  animation: fadein 0.5s $ease-in, fadeout 1s 3s $ease-out;
}

@keyframes fadein {
  from {
    bottom: -3rem;
    opacity: 0;
  }
  to {
    bottom: 1rem;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 1rem;
    opacity: 1;
  }
  to {
    bottom: -3rem;
    opacity: 0;
  }
}
