.modal__overlay {
  position: absolute;
  inset: 0;
  min-height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.565);
  position: fixed;
  inset: 0;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition-250);
  &--active {
    visibility: visible;
    opacity: 1;
  }
}

.toggles__modal {
  padding: 1rem;
  top: 4rem;
  left: 50%;
  transform: translate(-50%);
  position: fixed;
  background: rgba(0, 0, 0, 0.856);
  z-index: 150;
  transition: var(--transition-250);
  width: 100%;
  max-width: 400px;
  height: 550px;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  @include media("<md") {
    max-width: 300px;
    padding: 1.5rem;
  }
  &--active {
    visibility: visible;
    opacity: 1;
  }
  h5 {
    text-align: center;
    text-transform: uppercase;
    margin: 0 !important;
    position: relative;
    font-weight: bold;
    @include media("<md") {
      font-size: 1.1rem;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -1.3rem;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      background: black;
      background: linear-gradient(to right, transparent 2%, gray 20%, gray 90%, transparent 98%, transparent 100%);
    }
  }
  &__coins {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: column;
    height: 90%;
  }

  &__coin {
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    width: 100%;
    gap: 0.5rem;

    a {
      text-align: center;
      font-size: 1rem;
      text-decoration: none;
      width: fit-content;
      margin-left: auto;
      @include media("<md") {
        font-size: 0.8rem;
      }
    }
  }
  .form-check-input {
    border-color: black !important;
    width: 50px !important;
    border-radius: 1rem !important;
    height: 20px !important;
    cursor: pointer !important;

    &:checked {
      background-color: rgb(194, 36, 62) !important;
    }
    @include media("<md") {
      width: 40px !important;
    }
  }

  i {
    box-shadow: var(--box-shadow);
    text-align: center;
    font-size: 2rem;
    display: block;
    transition: var(--transition-150);
    &::before {
      cursor: pointer;
    }
    &:hover {
      transform: scale(1.15);
      color: rgb(194, 36, 62);
    }
  }
}
