.nav-desktop {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 1rem 0 2rem 0;

  @include media("<md") {
    padding: unset;
    padding-top: 1rem;
  }

  .desktop {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 auto;
    padding: 0 !important;

    a {
      text-decoration: none;
      color: var(--primary);
      font-size: 1.05rem;
      font-size: clamp(0.9rem, 2vw, 1.05rem);
    }
  }
}
.link {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 2.2px;
    left: 0;
    right: 0;
    bottom: -0.2rem;
    transition: var(--transition-150);
    transform: scaleX(0);
    background: linear-gradient(#fc4a1f, #ac0d57);
  }
  &:hover::before {
    transform: scale(1);
  }
}
