.header {
  position: relative;
  z-index: 5;
  margin-top: 5rem;
  min-height: 60vh;
  @include media("<md") {
    margin-top: 2rem;
    min-height: 20vh;
  }
  .head {
    text-transform: uppercase !important;
    font-weight: bolder !important;
    letter-spacing: 0.07em;
    transition: var(--transition-250);
    user-select: none;

    @include media("<md") {
      font-size: 2.7rem !important;
      &:hover {
        transform: unset !important;
      }
    }
    &:hover {
      transform: perspective(1000px) scaleY(1) scaleX(1) rotateY(5deg) rotate(-3deg) skewX(-3deg);
    }
  }
}
.search {
  &__wrapper {
    margin: 5rem auto 0 auto;
    position: relative;
    z-index: 0;
    @include media("<md") {
      margin: 2rem auto;
    }

    .input-group {
      z-index: 2;
      @include media("<=ssmd") {
        width: 300px;
        margin: auto;
      }
      input {
        background: rgba(000, 000, 000, 0.5) !important;
        color: white !important;
        font-size: 16px;
        font-weight: bold;
        font-family: var(--ff-text);
        border-color: black !important;
      }
    }
  }

  &__results-wrap {
    position: absolute;
    top: 100%;
    height: 400px;
    max-height: 400px;
    background: rgba(0, 0, 0, 0.856);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 0 0 0.5rem 0.5rem;
    width: 100%;
    z-index: 1;
    overflow-y: auto;
    @include scrollbar;

    transition: var(--transition-150);
    opacity: 1;
    pointer-events: all;

    &.hidden {
      transform: translateY(-25px);
      opacity: 0;
      pointer-events: none;
    }
  }

  &__results {
    display: flex;
    flex-direction: column;

    @include media("<md") {
      height: 150px;
      max-height: 150px;
    }

    a {
      color: white !important;
      text-decoration: none !important;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.3rem;
      @include media("<md") {
        font-size: 1rem;
      }
    }
  }

  &__card {
    flex: 1;
    min-height: 67px;
    max-height: 67px;
    @include media("<md") {
      min-height: 40px;
      max-height: 40px;
    }
    padding: 0.5rem;
    transition: var(--transition-150);
    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.856);
      color: black !important;
    }

    &--body {
      padding: 0.5rem;
    }

    &--text {
      &::before {
        counter-increment: results;
        content: counter(results) ". ";
      }
    }
  }
}
