.task-search {
  width: 100%;
  margin-top: 1.5rem;
  max-width: 860px;

  &--wrapper {
    max-width: 863px;
  }

  &--input {
    width: 100%;
    border: none;
    background-color: transparent;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.089);
    &:focus {
      border: unset;
    }
    &::placeholder {
      color: var(--btn-bg2);
      opacity: 0.7;
      font-size: 0.95rem;
    }
  }

  .fieldset:focus-within {
    border-color: var(--btn-bg2);
  }
}
#search-result-amount {
  margin-top: 0.5rem;
  color: var(--task-text);
  font-weight: bold;
  font-size: 1.1rem;
  font-size: clamp(0.8rem, 3vw, 1.1rem);
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
@media (max-width: 550px) {
  .search-task {
    &::placeholder {
      font-size: 0.7rem;
    }
  }
}
