.task-search {
  width: 100%;
  margin-top: 1.5rem;

  &--wrapper {
    max-width: 863px;
  }

  &--input {
    width: 100%;
    border: none;
    background-color: transparent;
    &:focus {
      border: unset;
    }

    &::placeholder {
      color: var(--btn-bg2);
      opacity: 0.7;
      font-size: 0.95rem;
    }
  }
}
@media (max-width: 550px) {
  .search-task {
    &::placeholder {
      font-size: 0.7rem;
    }
  }
}
