.task-search {
  width: 100%;
  margin-top: 1.5rem;
  text-align: center;

  input {
    width: 100%;
    padding: 0.9rem 1rem;
    &:focus-within {
      border-color: var(--pink);
    }
  }
}
@media (max-width: 550px) {
  .search-task {
    &::placeholder {
      font-size: 0.7rem;
    }
  }
}
