#theme-toggle {
  cursor: pointer;
  background: none;
  border: none;
  opacity: 0.95;
  border-radius: 50%;
  position: relative;
  isolation: isolate;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 70px;
  height: 70px;
  margin-top: 0.3rem;
  transition: var(--transition-250);
}

#theme-toggle svg {
  fill: var(--header);
  width: 60px;
  height: 35px;
}
#theme-toggle::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(128, 128, 128, 0.336);
  border-radius: inherit;
  transform: scale(0);
  opacity: 0;
  z-index: -2;
}
.bglight #theme-toggle::before {
  animation: pulseToLight 700ms ease-out forwards;
}

.bgdark #theme-toggle::before {
  animation: pulseToDark 700ms ease-out forwards;
}

// #theme-toggle::after {
//   content: attr(aria-label);
//   position: absolute;
//   color: var(--modal);
//   background-color: var(--btn-bg2);
//   width: max-content;
//   font-size: 0.7rem;
//   font-weight: bold;
//   bottom: -1.5rem;
//   left: 50%;
//   border-radius: 0.35em;
//   opacity: 0;
//   transform: translateX(-50%);
//   transform-origin: top;
//   transition: var(--transition-150);
//   padding: 0.4rem 0.5rem;
//   z-index: 1;
// }

#theme-toggle:hover,
#theme-toggle:focus {
  outline: 0;
  opacity: 1;
  background: rgba(128, 128, 128, 0.336);
}

// #theme-toggle:hover::after,
// #theme-toggle:focus-visible::after {
//   opacity: 0.85;
//   transition: transform 70ms linear, opacity 70ms linear;
// }

.toggle-circle {
  transition: transform 500ms ease-out;
}

.bgdark .toggle-circle {
  transform: translateX(15%);
}
.bglight .toggle-circle {
  transform: translateX(0);
}

.toggle-sun {
  transform-origin: center center;
  transition: transform 850ms cubic-bezier(0.11, 0.14, 0.29, 1.6);
}

.bglight .toggle-sun {
  transform: rotate(0.55turn);
}

@keyframes pulseToLight {
  0% {
    transform: scale(0);
    opacity: 0.3;
  }
  10% {
    transform: scale(0.5);
    opacity: 0.7;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes pulseToDark {
  0% {
    transform: scale(0);
    opacity: 0.3;
  }
  10% {
    transform: scale(0.5);
    opacity: 0.7;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
