// E2469C PINK
// 1D1B2D DARK BLUE
// E4E0E3 WHITE
// A1A7BB LIGHT BLUE
// D4ACAA ORANGE

.bgdark {
  background-color: #2e3a4d;
  --dark: #0e1524;
  --darker: #1f2937;
  --darkest: #111827;
  --grey: #6b7280;
  --pink: #e2469c;
  --purple: #8b5cf6;
  --bg: #2e3a4d;
  --border: #394980;
  --header: rgb(206, 206, 206);
  --text: rgb(206, 206, 206);
  --task-text: rgb(255, 255, 255);
  --btn-bg1: #111827;
  --btn-bg2: #eee;
  --modal: #111827;
  --white: #eee;
  --accent: #d4acaa;
  --sidebar: rgba(61, 109, 199, 0.753);
  --completed: rgba(61, 109, 199, 0.753);
}

.bglight {
  background-color: #eee;
  --dark: #0e1524;
  --darker: rgba(214, 214, 214, 0.884);
  --darkest: #e4e0e3c0;
  --grey: #6b7280;
  --pink: #e2469c;
  --purple: #8b5cf6;
  --bg: #eee;
  --border: rgb(179, 179, 179);
  --header: #111827;
  --text: #111827;
  --task-text: #0e1524;
  --btn-bg1: #eee;
  --btn-bg2: #111827;
  --modal: rgb(255, 255, 255);
  --white: #eee;
  --accent: #d4acaa;
  --sidebar: #d4acaa;
  --completed: #d4acaa;
}

:root {
  --transition-350: all 350ms linear;
  --transition-250: all 250ms linear;
  --transition-150: all 150ms linear;
  --box-shadow: rgba(0, 0, 0, 0.473) 1px 3px 30px -15px;
  --ff-text: "Montserrat", sans-serif;
  --ff-header: "Bungee", "cursive", sans-serif;
  --tippy-bg: rgba(172, 73, 106, 0.877);
  --task-error: #a15551;
}
$ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.55);

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
