@import "./variables";
@import "breakpoints";
@import "./helpers";
@import "./search-bar";
@import "./snackbar";
@import "./loader";
@import "./nav";
@import "./modal";
@import "./coinpage";
@import "./about";

.coins__page {
  margin-top: 35%;
  min-height: 100%;
  @include media("<md") {
    margin-top: 1rem;
  }
}
.coins {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  @include media("<md") {
    gap: 1rem;
  }
  &__item {
    flex: 0 0 0;
    background-color: transparent;
    transition: var(--transition-250);
    height: 240px;
    min-height: 240px;
    width: 350px;
    @include media("<md") {
      width: 300px;
      height: 150px;
      min-height: 150px;
    }

    &--active {
      transition: var(--transition-250);
      transform: scale(1.08);
      @include media("<ssmd") {
        transform: scale(1.05);
      }

      .front {
        transition: var(--transition-250);
        background: rgb(160, 16, 47) !important;
      }

      .card__button {
        a {
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

.card {
  width: inherit;
  height: inherit;
  min-height: inherit;
  background-color: transparent !important;
  transition: var(--transition-250);
  cursor: pointer;

  &-name {
    left: 25px;
    top: 5px;
    z-index: 2;
    position: relative;
    font-weight: bold;
    max-width: 300px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @include media("<md") {
      max-width: 200px;
    }
  }
  &__button {
    margin: 2rem 25px;
    z-index: 5;
    width: fit-content;
    @include media("<md") {
      position: absolute;
      right: 0.5rem;
      top: 0.7rem;
      margin: 0;
    }

    &:hover {
      a {
        color: rgb(209, 23, 85);
      }
    }
    a {
      transition: var(--transition-150);
      text-decoration: none;
      color: black;
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      background: rgb(0, 0, 0);
      border-radius: 0.2rem;
      padding: 0.25rem 1rem;
    }
  }
}
.flip {
  width: inherit;
  height: inherit;
  transition: 0.7s;
  transform-style: preserve-3d;
}
.front,
.back {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 10px;
  color: var(--primary);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-image: linear-gradient(to right, #111, #555);
  overflow: hidden;
  transition: var(--transition-250) !important;
}
.front {
  transform: translateZ(0);
}
.strip-bottom,
.strip-top {
  position: absolute;
  right: 0;
  height: inherit;
  background-image: var(--card-stripe2);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
}
.strip-bottom {
  width: 200px;
  transform: skewX(-15deg) translateX(50px);
}
.strip-top {
  width: 180px;
  transform: skewX(20deg) translateX(50px);
}
.logo {
  position: absolute;
  top: 30px;
  right: 25px;
}
.investor {
  position: relative;
  top: 15px;
  left: 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  max-width: 200px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  @include media("<md") {
    max-width: 140px;
  }
}
.chip {
  position: relative;
  top: 30px;
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 40px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom left, #ffecc7, #d0b978);
  overflow: hidden;
}
.chip .chip-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #333;
}
.chip .chip-line:nth-child(1) {
  top: 13px;
}
.chip .chip-line:nth-child(2) {
  top: 20px;
}
.chip .chip-line:nth-child(3) {
  top: 28px;
}
.chip .chip-line:nth-child(4) {
  left: 25px;
  width: 1px;
  height: 50px;
}
.chip .chip-main {
  width: 20px;
  height: 25px;
  border: 1px solid #333;

  border-radius: 3px;
  background-image: linear-gradient(to bottom left, #efdbab, #e1cb94);
  z-index: 1;
}
.wave {
  position: relative;
  top: -10px;
  left: 90px;
}

.end {
  margin-left: 25px;
  text-transform: uppercase;
  font-family: "cc font", monospace;
}
.end .end-text {
  font-size: 9px;
  color: var(--primary);
}

.chart__page {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.chart__chart {
  margin: 2rem auto;
  min-width: 100%;
  min-height: 100%;
  @include media(">md") {
    height: 80%;
    width: 80%;
    min-height: 80%;
    min-width: 80%;
    margin: auto;
  }
  canvas {
    border-radius: 5px;
    background: rgba(000, 000, 000, 0.5);
  }
}
