:root {
  --primary: white !important;
  --bg: #b6b5b5;
  --bg: #fdbf28;
  --card-stripe1: linear-gradient(to bottom, #1d1d1d, #496fd8);
  --card-stripe2: linear-gradient(to bottom, #ff6767, #e2cc4e);
  --card-stripe3: linear-gradient(to bottom, #b13271, #4732a3);
  --card-stripe4: linear-gradient(to bottom, #6ed1a8, #ff4545);
  --card-stripe5: linear-gradient(to bottom, #443840, #32924f);
  --card-stripe6: linear-gradient(to bottom, #d12659, #c0c9d1);
  --card-stripe7: linear-gradient(to bottom, #7e7a7a, #6193be);
  --transition-350: transform 350ms linear, opacity 350ms linear, color 350ms linear, background-color 350ms linear, border-color 350ms linear;
  --transition-250: transform 250ms linear, opacity 250ms linear, color 250ms linear, background-color 250ms linear, border-color 250ms linear;
  --transition-150: transform 150ms linear, opacity 150ms linear, color 150ms linear, background-color 150ms linear, border-color 150ms linear;
  --box-shadow: rgba(0, 0, 0, 0.473) 1px 3px 30px -15px;
  --ff-text: "Montserrat", sans-serif;
  --ff-header: "Bungee", "cursive", sans-serif;
  --tippy-bg: rgba(172, 73, 106, 0.877);
  --task-error: #a15551;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  background: var(--bg) !important;
  color: var(--primary) !important;
  font-family: var(--ff-text);
  counter-reset: results;
}

a {
  color: var(--primary) !important;
  text-decoration: none;
}

main {
  z-index: 10;
  position: relative;
}

.container-wrapper {
  padding: 0 1rem;
  position: relative;
  z-index: 2;
}

@media (max-width: 1049px) {
  .container-wrapper {
    padding: 0 0.5rem;
  }
}

.nav-logo {
  left: 1rem;
  top: 1rem;
  position: fixed;
  cursor: pointer;
  z-index: 11;
}

.nav-logo img {
  max-width: 90px;
  width: 100%;
}

@media (max-width: 1049px) {
  .nav-logo {
    display: none;
  }
}

.error {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  margin-top: 3rem;
  text-align: center;
}

.bg {
  z-index: 3;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/395434.jpg) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-wrapper {
  position: fixed;
  height: 100vh;
  width: 100%;
  max-height: 100vh;
  left: 0;
  top: 0rem;
}

.form-switch {
  z-index: 1;
  margin-left: auto;
}

.form-switch .form-check-input:checked {
  background-color: black;
  border-color: black;
}

.gradient-title {
  background: -webkit-gradient(linear, left top, left bottom, from(#fc4a1f), to(#ac0d57));
  background: linear-gradient(#fc4a1f, #ac0d57);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header {
  position: relative;
  z-index: 5;
  margin-top: 5rem;
  min-height: 60vh;
}

@media (max-width: 1049px) {
  .header {
    margin-top: 2rem;
    min-height: 20vh;
  }
}

.header .head {
  text-transform: uppercase !important;
  font-weight: bolder !important;
  letter-spacing: 0.07em;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1049px) {
  .header .head {
    font-size: 2.7rem !important;
  }
  .header .head:hover {
    -webkit-transform: unset !important;
            transform: unset !important;
  }
}

.header .head:hover {
  -webkit-transform: perspective(1000px) scaleY(1) scaleX(1) rotateY(5deg) rotate(-3deg) skewX(-3deg);
          transform: perspective(1000px) scaleY(1) scaleX(1) rotateY(5deg) rotate(-3deg) skewX(-3deg);
}

.search__wrapper {
  margin: 5rem auto 0 auto;
  position: relative;
  z-index: 0;
}

@media (max-width: 1049px) {
  .search__wrapper {
    margin: 2rem auto;
  }
}

@media (max-width: 631px) {
  .search__wrapper {
    width: 300px;
    margin: auto;
    margin-top: 1rem;
  }
}

.search__wrapper .input-group {
  z-index: 2;
}

.search__wrapper .input-group input {
  background: rgba(0, 0, 0, 0.5) !important;
  color: white !important;
  font-size: 16px;
  font-weight: bold;
  font-family: var(--ff-text);
  border-color: black !important;
}

.search__results-wrap {
  position: absolute;
  top: 100%;
  height: 400px;
  max-height: 400px;
  background: rgba(0, 0, 0, 0.856);
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 0 0 0.5rem 0.5rem;
  width: 100%;
  z-index: 1;
  overflow-y: auto;
  -webkit-transition: var(--transition-150);
  transition: var(--transition-150);
  opacity: 1;
  pointer-events: all;
}

.search__results-wrap::-webkit-scrollbar {
  width: 0.5rem;
}

.search__results-wrap::-webkit-scrollbar-thumb {
  border-radius: 5.5px;
  background-color: rgba(31, 31, 31, 0.5);
}

.search__results-wrap::-webkit-scrollbar-thumb:hover {
  background: rgba(31, 31, 31, 0.65);
}

.search__results-wrap::-webkit-scrollbar-thumb:active {
  background: rgba(31, 31, 31, 0.8);
}

.search__results-wrap.hidden {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  opacity: 0;
  pointer-events: none;
}

.search__results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1049px) {
  .search__results {
    height: 150px;
    max-height: 150px;
  }
}

.search__results a {
  color: white !important;
  text-decoration: none !important;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem;
}

@media (max-width: 1049px) {
  .search__results a {
    font-size: 1rem;
  }
}

.search__card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 67px;
  max-height: 67px;
  padding: 0.5rem;
  -webkit-transition: var(--transition-150);
  transition: var(--transition-150);
}

@media (max-width: 1049px) {
  .search__card {
    min-height: 40px;
    max-height: 40px;
  }
}

.search__card:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.856);
  color: black !important;
}

.search__card--body {
  padding: 0.5rem;
}

.search__card--text::before {
  counter-increment: results;
  content: counter(results) ". ";
}

.snackbar {
  visibility: hidden;
  min-width: 350px;
  padding: 0.85rem 0.7rem;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 0.2rem;
  font-size: 0.9rem;
  position: fixed;
  z-index: 5;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  bottom: 1rem;
  font-family: var(--ff-text);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1050px) {
  .snackbar {
    min-width: unset;
    width: 100%;
    bottom: 0;
    border-radius: 0;
  }
}

.snackbar::before, .snackbar::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1.7rem;
  -webkit-transform: translateX(-50%) rotate(-180deg);
          transform: translateX(-50%) rotate(-180deg);
  border: 20px solid transparent;
  border-bottom-color: --bg;
  z-index: -1;
}

.snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.55), fadeout 0.5s 2s cubic-bezier(0.215, 0.61, 0.355, 1);
          animation: fadein 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.55), fadeout 0.5s 2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media (max-width: 1050px) {
  .snackbar.show {
    -webkit-animation: fadeinMobile 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.55), fadeoutMobile 0.5s 2s cubic-bezier(0.215, 0.61, 0.355, 1);
            animation: fadeinMobile 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.55), fadeoutMobile 0.5s 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

@-webkit-keyframes fadein {
  from {
    bottom: -3rem;
    opacity: 0;
  }
  to {
    bottom: 1rem;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: -3rem;
    opacity: 0;
  }
  to {
    bottom: 1rem;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 1rem;
    opacity: 1;
  }
  to {
    bottom: -3rem;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 1rem;
    opacity: 1;
  }
  to {
    bottom: -3rem;
    opacity: 0;
  }
}

@-webkit-keyframes fadeinMobile {
  from {
    bottom: -3rem;
    opacity: 0;
  }
  to {
    bottom: 0rem;
    opacity: 1;
  }
}

@keyframes fadeinMobile {
  from {
    bottom: -3rem;
    opacity: 0;
  }
  to {
    bottom: 0rem;
    opacity: 1;
  }
}

@-webkit-keyframes fadeoutMobile {
  from {
    bottom: 0rem;
    opacity: 1;
  }
  to {
    bottom: -3rem;
    opacity: 0;
  }
}

@keyframes fadeoutMobile {
  from {
    bottom: 0rem;
    opacity: 1;
  }
  to {
    bottom: -3rem;
    opacity: 0;
  }
}

.appLoader {
  opacity: 1;
  visibility: visible;
}

.appLoader.hidden {
  opacity: 0;
  visibility: hidden;
}

.lds-roller {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 9999999;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.lds-roller__wrapper {
  position: fixed;
  inset: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 9999999;
  opacity: 1;
  visibility: visible;
  pointer-events: none;
  pointer-events: all;
}

.lds-roller div {
  -webkit-animation: lds-roller 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ff0659;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.nav-desktop {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 1rem 0 2rem 0;
}

@media (max-width: 1049px) {
  .nav-desktop {
    padding: unset;
    padding-top: 1rem;
  }
}

.nav-desktop .desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  margin: 0 auto;
  padding: 0 !important;
}

.nav-desktop .desktop a {
  text-decoration: none;
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 0.07em;
  font-weight: 400;
}

@media (max-width: 1049px) {
  .nav-desktop .desktop a {
    font-size: 1.05rem;
  }
}

.link {
  position: relative;
}

.link::before {
  content: "";
  position: absolute;
  height: 2.2px;
  left: 0;
  right: 0;
  bottom: -0.2rem;
  -webkit-transition: var(--transition-150);
  transition: var(--transition-150);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background: -webkit-gradient(linear, left top, left bottom, from(#fc4a1f), to(#ac0d57));
  background: linear-gradient(#fc4a1f, #ac0d57);
}

.link:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modal__overlay {
  position: absolute;
  inset: 0;
  min-height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.565);
  position: fixed;
  inset: 0;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
}

.modal__overlay--active {
  visibility: visible;
  opacity: 1;
}

.toggles__modal {
  padding: 1rem;
  top: 4rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: fixed;
  background: rgba(0, 0, 0, 0.856);
  z-index: 150;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  width: 100%;
  max-width: 400px;
  height: 550px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

@media (max-width: 1049px) {
  .toggles__modal {
    max-width: 300px;
  }
}

.toggles__modal--active {
  visibility: visible;
  opacity: 1;
}

.toggles__modal h5 {
  text-align: center;
  text-transform: uppercase;
  margin: 0 !important;
  position: relative;
  font-weight: bold;
}

@media (max-width: 1049px) {
  .toggles__modal h5 {
    font-size: 1rem;
  }
}

.toggles__modal h5::before {
  content: "";
  position: absolute;
  bottom: -0.8rem;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  background: black;
  background: -webkit-gradient(linear, left top, right top, color-stop(2%, transparent), color-stop(20%, gray), color-stop(90%, gray), color-stop(98%, transparent), to(transparent));
  background: linear-gradient(to right, transparent 2%, gray 20%, gray 90%, transparent 98%, transparent 100%);
}

.toggles__modal__coins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
}

.toggles__modal__coin {
  text-transform: uppercase;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.toggles__modal__coin a {
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}

@media (max-width: 1049px) {
  .toggles__modal__coin a {
    font-size: 0.7rem;
  }
}

.toggles__modal .form-check-input {
  border-color: black !important;
  width: 50px !important;
  border-radius: 1rem !important;
  height: 20px !important;
  cursor: pointer !important;
}

.toggles__modal .form-check-input:checked {
  background-color: #c2243e !important;
}

@media (max-width: 1049px) {
  .toggles__modal .form-check-input {
    width: 40px !important;
  }
}

.toggles__modal i {
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  text-align: center;
  font-size: 2rem;
  display: block;
  -webkit-transition: var(--transition-150);
  transition: var(--transition-150);
}

.toggles__modal i::before {
  cursor: pointer;
}

.toggles__modal i:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  color: #c2243e;
}

.coin-page {
  width: 100%;
  color: var(--primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

@media (max-width: 1049px) {
  .coin-page {
    margin-top: 1rem;
  }
}

.coin-page__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

@media (max-width: 1049px) {
  .coin-page__top {
    gap: 1rem;
  }
}

.coin-page__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 750px;
  height: 550px;
  min-height: 550px;
  margin: auto;
  padding: 1rem;
  overflow-y: auto;
  gap: 2rem;
}

.coin-page__details::-webkit-scrollbar {
  width: 0.5rem;
}

.coin-page__details::-webkit-scrollbar-thumb {
  border-radius: 5.5px;
  background-color: rgba(31, 31, 31, 0.5);
}

.coin-page__details::-webkit-scrollbar-thumb:hover {
  background: rgba(31, 31, 31, 0.65);
}

.coin-page__details::-webkit-scrollbar-thumb:active {
  background: rgba(31, 31, 31, 0.8);
}

.coin-page__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.5rem;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1049px) {
  .coin-page__tags {
    gap: 0.3rem;
  }
}

.coin-page__tags .coin__tag {
  background: rgba(255, 255, 255, 0.781);
  color: black;
  border-radius: 1rem;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  white-space: pre;
  text-transform: uppercase;
}

.coin-page__tags .form-switch {
  cursor: pointer !important;
}

.coin-page__tags .form-check-input {
  border-color: black !important;
  width: 50px !important;
  border-radius: 1rem !important;
  height: 20px !important;
  cursor: pointer !important;
}

.coin-page__tags .form-check-input:checked {
  background-color: #c2243e !important;
}

@media (max-width: 1049px) {
  .coin-page__tags .form-check-input {
    width: 40px !important;
  }
}

.coin-page__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.5rem;
}

@media (max-width: 1049px) {
  .coin-page__name {
    -webkit-line-clamp: 1;
  }
}

@media (max-width: 1049px) {
  .coin-page__name__rank {
    left: -0.5rem !important;
  }
}

.coin-page__name__score {
  left: 5.75rem !important;
}

@media (max-width: 1049px) {
  .coin-page__name__score {
    left: 5.4rem !important;
  }
}

.coin-page__name__votes {
  left: 11.9rem !important;
}

@media (max-width: 1049px) {
  .coin-page__name__votes {
    left: 11.6rem !important;
  }
}

.coin-page__name span {
  font-size: 1.1rem;
  text-transform: capitalize;
}

.coin-page__name img {
  border-radius: 50%;
  min-width: 30px;
  max-width: 30px;
  max-height: 30px;
  min-height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.coin-page__price {
  font-size: 2rem;
  letter-spacing: 0.07em;
}

.coin-page__address {
  text-align: center;
  width: 100%;
  position: relative;
}

@media (max-width: 1049px) {
  .coin-page__address {
    font-size: 0.75rem;
  }
}

.coin-page__address::before {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 50%;
  -webkit-transform: translateX(-54%);
          transform: translateX(-54%);
  width: 100%;
  height: 2px;
  background: black;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, transparent), color-stop(20%, #cecece), color-stop(90%, #d1d1d1), color-stop(98%, transparent), to(transparent));
  background: linear-gradient(to right, transparent 10%, #cecece 20%, #d1d1d1 90%, transparent 98%, transparent 100%);
}

.coin-page__bottom {
  text-transform: capitalize;
  width: 100%;
}

.coin-page__bottom__rates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-weight: normal;
  margin-top: 1rem;
}

.coin-page__bottom__rates .rates--wrapper {
  font-size: 1.15rem;
}

@media (max-width: 1049px) {
  .coin-page__bottom__rates .rates--wrapper {
    font-size: 0.9rem;
  }
}

.coin-page__bottom .data {
  text-align: right;
  width: 100%;
  font-size: 1.15rem;
}

@media (max-width: 1049px) {
  .coin-page__bottom .data {
    font-size: 0.9rem;
  }
}

.coin-page__bottom__description {
  font-weight: bold;
  text-transform: none;
  margin: 0 !important;
}

@media (max-width: 1049px) {
  .coin-page__bottom__description {
    -webkit-line-clamp: 6;
    font-size: 0.8rem;
  }
}

.coin-page__bottom__supply .supply {
  letter-spacing: 0.08em;
  font-size: 1.05rem;
}

.coin-page__bottom .right__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.coin-page .bottom--heads {
  font-weight: bold;
  width: 100%;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.coin-page .bottom--heads span {
  font-size: 1.15rem;
}

@media (max-width: 1049px) {
  .coin-page .bottom--heads span {
    font-size: 0.9rem;
  }
}

@media (min-width: 1051px) {
  .coin-page .bottom--heads .category {
    width: 300px;
  }
}

.coin-page .coin-recommended {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.coin-page .coin-recommended__header h4 {
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-transform: uppercase;
  font-weight: bold !important;
  color: #c2243e;
}

.coin-page .coin-recommended__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 3rem;
}

.coin-page-skeleton-top.hidden {
  display: none;
  opacity: 0;
}

.coin-page-skeleton-bottom.hidden {
  display: none;
  opacity: 0;
}

.skeleton-box {
  display: inline-block;
  height: 1em;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  background: transparent;
}

.skeleton-box::after {
  position: absolute;
  inset: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0.2)), color-stop(60%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 1.15s infinite;
          animation: shimmer 1.15s infinite;
  content: "";
}

@-webkit-keyframes shimmer {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes shimmer {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.blog-post__headline {
  font-size: 1.25em;
  font-weight: bold;
}

.blog-post__meta {
  font-size: 0.85em;
  color: black;
}

.o-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.o-media__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 1em;
}

.o-vertical-spacing > * + * {
  margin-top: 0.75em;
}

.o-vertical-spacing--l > * + * {
  margin-top: 2em;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1rem;
  background: rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow-y: auto;
}

.about::-webkit-scrollbar {
  width: 0.5rem;
}

.about::-webkit-scrollbar-thumb {
  border-radius: 5.5px;
  background-color: rgba(31, 31, 31, 0.5);
}

.about::-webkit-scrollbar-thumb:hover {
  background: rgba(31, 31, 31, 0.65);
}

.about::-webkit-scrollbar-thumb:active {
  background: rgba(31, 31, 31, 0.8);
}

@media (max-width: 1049px) {
  .about {
    margin-top: 1rem;
  }
}

.about__page {
  height: calc(100vh - 66.78px - 3rem);
  max-width: 890px;
  margin: auto;
  margin-bottom: 3rem;
}

.about__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: unset !important;
      -ms-flex-pack: unset !important;
          justify-content: unset !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.about__top h5 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.about__top__image {
  min-width: 170px;
  min-height: 170px;
  width: 170px;
  height: 170px;
  -webkit-transition: var(--transition-150);
  transition: var(--transition-150);
  overflow: hidden;
  border-radius: 50%;
}

.about__top__image:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.about__top img {
  -webkit-transition: var(--transition-150);
  transition: var(--transition-150);
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.about__project {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__project h3 {
  text-transform: uppercase;
  color: #c2243e;
}

@media (max-width: 1049px) {
  .about__project h3 {
    text-align: center;
  }
}

.about__project__head {
  color: #c2243e;
  font-weight: bold;
  font-size: 1.1rem;
}

.about__project__sources {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.about__project__sources--item {
  font-size: 2rem;
  -webkit-transition: var(--transition-150);
  transition: var(--transition-150);
  cursor: pointer;
}

.about__project__sources--item i {
  -webkit-transition: var(--transition-150);
  transition: var(--transition-150);
}

.about__project__sources--item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.about__project__sources--item:hover i {
  color: #c2243e;
}

.coins__page {
  min-height: 100%;
}

@media (max-width: 1049px) {
  .coins__page {
    margin-top: 1rem;
  }
}

.coins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

@media (max-width: 1049px) {
  .coins {
    gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.coins__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
  gap: 1rem;
  position: -webkit-sticky;
  position: sticky;
}

@media (max-width: 1049px) {
  .coins__actions {
    display: none;
  }
}

.coins__actions #togglebtn {
  background: -webkit-gradient(linear, left top, left bottom, from(#fc4a1f), to(#ac0d57)) !important;
  background: linear-gradient(#fc4a1f, #ac0d57) !important;
}

@media (min-width: 1051px) {
  .coins--small {
    gap: 1rem;
  }
  .coins--small .coins__item {
    height: 150px !important;
    min-height: 150px !important;
    width: 230px !important;
    position: relative;
  }
  .coins--small .coins__item--active {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
  .coins--small .coins__item .strip-top {
    width: 120px !important;
  }
  .coins--small .coins__item .strip-bottom {
    width: 130px !important;
  }
  .coins--small .coins__item .investor,
  .coins--small .coins__item .chip {
    overflow: ellipsis;
    font-size: 0.9rem;
    left: 10px;
    letter-spacing: 0.1em;
  }
  .coins--small .coins__item .chip {
    width: 40px;
    height: 27px;
  }
  .coins--small .coins__item .card-name {
    display: none;
  }
  .coins--small .coins__item .wave {
    left: 59px;
    top: -3px;
  }
  .coins--small .coins__item .logo {
    top: 35px;
  }
  .coins--small .coins__item .card__button {
    left: -14px;
    position: absolute;
    bottom: -20px;
  }
  .coins--small .coins__item .card__button .coins__btn {
    font-size: 0.85rem;
    padding: 0.3rem;
  }
  .coins--small .coins__item .card__button .coins__btn::before {
    content: "More Info";
  }
}

.coins__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0px;
          flex: 0 0 0;
  background-color: transparent;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  height: 240px;
  min-height: 240px;
  width: 350px;
}

@media (max-width: 1049px) {
  .coins__item {
    width: 300px;
    height: 150px;
    min-height: 150px;
  }
}

.coins__item--active {
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
}

@media (max-width: 630px) {
  .coins__item--active {
    -webkit-transform: scale(1.045);
            transform: scale(1.045);
  }
}

.coins__item--active .front {
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  background: -webkit-gradient(linear, left top, left bottom, from(#fc4a1f), to(#ac0d57)) !important;
  background: linear-gradient(#fc4a1f, #ac0d57) !important;
}

.coins__item--active .card__button {
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
}

.coins__item--active .card__button a {
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  background: rgba(0, 0, 0, 0.856) !important;
}

.coins__item--active .card__button:hover a {
  background: white !important;
  color: black !important;
}

.card {
  width: inherit;
  height: inherit;
  min-height: inherit;
  background-color: transparent !important;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  cursor: pointer;
}

.card-name {
  left: 25px;
  top: 5px;
  z-index: 2;
  position: relative;
  font-weight: bold;
  max-width: 300px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 1049px) {
  .card-name {
    max-width: 200px;
  }
}

.card__button {
  margin: 2rem 25px;
  z-index: 5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 1049px) {
  .card__button {
    position: absolute;
    right: 0.5rem;
    top: 0.7rem;
    margin: 0;
  }
}

.card__button:hover a {
  color: rgba(0, 0, 0, 0.801) !important;
}

.card__button a {
  -webkit-transition: var(--transition-150);
  transition: var(--transition-150);
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#fc4a1f), to(#ac0d57)) !important;
  background: linear-gradient(#fc4a1f, #ac0d57) !important;
  border-radius: 0.2rem;
  padding: 0.25rem 1rem;
}

.card__button a::before {
  content: "More Info";
}

.flip {
  width: inherit;
  height: inherit;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 10px;
  color: var(--primary);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-image: -webkit-gradient(linear, left top, right top, from(#111), to(#555));
  background-image: linear-gradient(to right, #111, #555);
  overflow: hidden;
  -webkit-transition: var(--transition-250) !important;
  transition: var(--transition-250) !important;
}

.front {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.strip-bottom,
.strip-top {
  position: absolute;
  right: 0;
  height: inherit;
  background-image: var(--card-stripe2);
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
}

.strip-bottom {
  width: 200px;
  -webkit-transform: skewX(-15deg) translateX(50px);
          transform: skewX(-15deg) translateX(50px);
}

.strip-top {
  width: 180px;
  -webkit-transform: skewX(20deg) translateX(50px);
          transform: skewX(20deg) translateX(50px);
}

.logo {
  position: absolute;
  top: 30px;
  right: 25px;
}

.investor {
  position: relative;
  top: 15px;
  left: 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  max-width: 200px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 1049px) {
  .investor {
    max-width: 140px;
  }
}

.chip {
  position: relative;
  top: 30px;
  left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 40px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#ffecc7), to(#d0b978));
  background-image: linear-gradient(to bottom left, #ffecc7, #d0b978);
  overflow: hidden;
}

.chip .chip-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #333;
}

.chip .chip-line:nth-child(1) {
  top: 13px;
}

.chip .chip-line:nth-child(2) {
  top: 20px;
}

.chip .chip-line:nth-child(3) {
  top: 28px;
}

.chip .chip-line:nth-child(4) {
  left: 25px;
  width: 1px;
  height: 50px;
}

.chip .chip-main {
  width: 20px;
  height: 25px;
  border: 1px solid #333;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#efdbab), to(#e1cb94));
  background-image: linear-gradient(to bottom left, #efdbab, #e1cb94);
  z-index: 1;
}

.wave {
  position: relative;
  top: -10px;
  left: 90px;
}

.end {
  margin-left: 25px;
  text-transform: uppercase;
  font-family: "cc font", monospace;
}

.end .end-text {
  font-size: 9px;
  color: var(--primary);
}

.chart__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

@media (max-width: 1049px) {
  .chart__page {
    margin-top: 1rem;
  }
}

.chart__chart {
  margin: auto;
  height: 80% !important;
  width: 80% !important;
  min-height: 500px !important;
  min-width: 1100px !important;
}

@media (max-width: 1049px) {
  .chart__chart {
    min-width: 359px !important;
    min-height: 359px !important;
  }
}

.chart__chart canvas {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.75);
}
/*# sourceMappingURL=crypto.css.map */