.modal__overlay {
  position: absolute;
  inset: 0;
  min-height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.63);
  position: fixed;
  inset: 0;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
}

.modal {
  position: absolute;
  padding: 1rem;
  top: 13rem;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  background-color: var(--modal);
  border: 2px solid var(--purple);
  border-radius: 0.5rem;
  z-index: 150;
  max-width: 330px;
  height: 150px;
  width: 100%;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
}

.modal-contents {
  height: 100%;
  width: 100%;
}

.modal-contents .container {
  margin: auto 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.modal__header {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
  color: var(--text);
}

.modal__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.modal__actions button {
  cursor: pointer;
  color: var(--btn-bg1);
  background-color: var(--text);
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  font-weight: bold;
  text-align: center;
}

.modal__actions button:hover {
  background-color: var(--pink);
  color: var(--darkest);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.modal__actions button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.5;
}

.overlay--active {
  visibility: visible !important;
  opacity: 1 !important;
}

.modal--active {
  opacity: 1 !important;
  visibility: visible !important;
}

.theme--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-top: 1rem;
}

.theme--wrapper_btn {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: relative;
  width: 43px;
  height: 22px;
  border: 2px solid var(--border);
  outline: none;
  border-radius: 2rem;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  opacity: 0.9;
}

.theme--wrapper_btn:hover {
  -webkit-transform: translatey(4px);
          transform: translatey(4px);
  opacity: 1;
}

.theme--wrapper_btn::before {
  content: "";
  position: absolute;
  top: 1.2px;
  left: 2px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--text);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.theme--wrapper_btn:checked::before {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  background: var(--header);
}

.bgdark {
  --dark: #0e1524;
  --darker: #1f2937;
  --darkest: #111827;
  --grey: #6b7280;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --light: #eee;
  --bg: #374151;
  --border: rgb(206, 206, 206);
  --header: rgb(206, 206, 206);
  --text: rgb(206, 206, 206);
  --task-text: rgb(255, 255, 255);
  --btn-bg1: #111827;
  --btn-bg2: #eee;
  --modal: #111827;
  --white: #eee;
}

.bglight {
  --dark: #0e1524;
  --darker: rgba(197, 194, 194, 0.884);
  --darkest: rgba(197, 194, 194, 0.884);
  --grey: #6b7280;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --light: #eee;
  --bg: #eee;
  --border: #111827;
  --header: #111827;
  --text: #111827;
  --task-text: #0e1524;
  --btn-bg1: #eee;
  --btn-bg2: #111827;
  --modal: rgb(255, 255, 255);
  --white: #eee;
  --white: #eee;
}

:root {
  --transition-250: all 250ms linear;
  --box-shadow: rgba(0, 0, 0, 0.74) -10px 3px 40px -15px;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  color: #fff;
  background-color: var(--bg);
  padding: 0 1rem;
}

header {
  padding: 2rem 0rem;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--header);
  margin-bottom: 1rem;
  opacity: 0.8;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
}

#new-task-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input,
button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;
}

#new-task-input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  background-color: var(--darker);
  padding: 1rem;
  border-radius: 1.5rem;
  margin-right: 1rem;
  color: var(--text);
  font-size: 1.25rem;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
}

#new-task-input:focus-within {
  outline: 2px solid var(--pink);
}

#new-task-input::-webkit-input-placeholder {
  color: var(--grey);
  font-size: 1.5rem;
}

#new-task-input:-ms-input-placeholder {
  color: var(--grey);
  font-size: 1.5rem;
}

#new-task-input::-ms-input-placeholder {
  color: var(--grey);
  font-size: 1.5rem;
}

#new-task-input::placeholder {
  color: var(--grey);
  font-size: 1.5rem;
}

#new-task-submit {
  color: var(--pink);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  background: var(--btn-bg1);
  border-radius: 3rem;
  padding: 1rem 2rem;
  outline: 2px solid var(--pink);
}

#new-task-submit:hover {
  background: var(--btn-bg2);
}

#new-task-submit:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#new-task-submit:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.8;
}

main {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.task-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2rem;
  position: relative;
}

.task-list--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 1rem;
}

.task-list--header h2 {
  font-size: 1.5rem;
  color: var(--text);
  opacity: 0.8;
  margin: 0 auto;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
}

.task-list--header .open-modal {
  position: absolute;
  cursor: pointer;
  color: var(--pink);
  background: var(--btn-bg1);
  border-radius: 2rem;
  padding: 0.7rem;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  font-weight: bold;
  left: 0;
  top: 0;
  outline: 2px solid var(--pink);
}

.task-list--header .open-modal:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: var(--btn-bg2);
}

.task-list--header .hide-btn {
  display: none !important;
}

.task-list h6 {
  font-size: 0.7rem;
  color: #85b885;
}

.tasks {
  min-width: 100%;
}

.task-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.task-wrapper .task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--darkest);
  padding: 0.9rem 1rem;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  margin-top: 1rem;
  min-width: 100%;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border: 2px solid var(--border);
  opacity: 0.9;
}

.task-wrapper .task:hover {
  opacity: 1;
}

.task-wrapper .task__status {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
}

.task-wrapper .task .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.task-wrapper .task .text {
  color: var(--task-text);
  font-size: 1.05rem;
  width: 100%;
  overflow-x: auto;
  max-width: 670px;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
}

.task-wrapper .task .text::-webkit-scrollbar {
  background: var(--task);
  height: 11px;
  cursor: pointer;
}

.task-wrapper .task .text::-webkit-scrollbar-button {
  background: var(--task);
}

.task-wrapper .task .text::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: var(--pink);
  max-width: 10px;
}

.task-wrapper .task .text:not(:-moz-read-only) {
  color: var(--pink);
}

.task-wrapper .task .text:not(:read-only) {
  color: var(--pink);
}

.task-wrapper .actions {
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.task-wrapper .actions button {
  cursor: pointer;
  font-size: 1.3rem;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  position: relative;
  border: 2px solid var(--pink);
  background: var(--btn-bg2);
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.task-wrapper .actions button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: var(--btn-bg1);
}

.task-wrapper .actions button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.5;
}

.task-wrapper .actions .edit,
.task-wrapper .actions .delete {
  color: var(--pink);
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
}

.task-wrapper .actions .editbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.task-wrapper .actions .savebtn {
  display: none;
}

.completed {
  background-color: #85b885 !important;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
}

.completed .content .text {
  color: var(--task-text);
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.completed .content .text::before {
  content: "";
  position: absolute;
  background: var(--task-text);
  inset: 0;
  top: 50%;
  height: 2px;
  width: 100%;
  z-index: 1;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  pointer-events: none;
}

.completed .task__status {
  margin-left: 1rem;
  font-size: 2rem;
  color: #f84050;
  visibility: visible;
  opacity: 1;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
}

.edited {
  cursor: default !important;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.edited .savebtn {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  color: #39f0fd;
}

.edited .editbtn {
  display: none !important;
}

.task .content .text:not(:-moz-read-only) {
  outline: none;
}

.task .content .text:not(:read-only) {
  outline: none;
}

@media (max-width: 768px) {
  #new-task-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .task-list--header .open-modal {
    top: -1.5rem;
  }
  #new-task-input {
    margin: 0;
    font-size: 1rem;
    width: 100%;
  }
  #new-task-input::-webkit-input-placeholder {
    font-size: 0.8rem;
  }
  #new-task-input:-ms-input-placeholder {
    font-size: 0.8rem;
  }
  #new-task-input::-ms-input-placeholder {
    font-size: 0.8rem;
  }
  #new-task-input::placeholder {
    font-size: 0.8rem;
  }
  #new-task-submit {
    width: 50%;
  }
  .task-wrapper .task .text {
    max-width: 200px;
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=main.css.map */