@import "./deleteModal";
@import "./themeBtn";
@import "./variables";
@import "./helpers";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--ff-text);
}

body {
  background-color: var(--bg);
  padding: 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-header);
}
.container-wrapper {
  padding: 0 2rem;
}
input,
button {
  appearance: none;
  border: none;
  border: none;
  background: none;
}
header {
  padding-top: 2rem;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--header);
  margin-bottom: 1rem;
  opacity: 0.8;
  transition: var(--transition-250);
}

form {
  .redo-form {
    position: absolute;
    right: -3rem;
    top: 36%;
    cursor: pointer;
    transition: var(--transition-250);
    color: var(--btn-bg2);
    &:hover {
      transform: scale(1.1);
      color: var(--purple);
    }
    .fa-redo {
      font-size: 2.2rem;
    }
  }
  .input {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--text);
    font-size: 1rem;
    transition: var(--transition-150);
    border: 2px solid var(--border);
    outline: none;
    &::placeholder {
      color: var(--grey);
      font-size: 1.1rem;
      text-align: center;
    }
    &:focus-within {
      transform: scale(1.01);
      border: 2px solid var(--pink);
    }
  }

  .inputs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    width: 100%;
    .first-input {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .second-inputs {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 100%;
      #date,
      #time {
        cursor: pointer;
        border-radius: 0.5rem;
      }
    }
  }

  .submit-btn {
    width: 100%;
    text-align: right;
    margin-top: 1rem;
    .new-task-submit {
      color: var(--pink);
      font-size: 1.1rem;
      font-weight: bold;
      cursor: pointer;
      transition: var(--transition-250);
      background: var(--btn-bg1);
      border-radius: 1rem;
      padding: 0.8rem 2rem;
      border: 2px solid var(--border);

      &:hover {
        background: var(--btn-bg2);
      }
    }

    .new-task-submit:hover {
      transform: scale(1.02);
    }
    .new-task-submit:active {
      transform: scale(0.9);
      opacity: 0.8;
    }
  }
}

main {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  margin-top: 1.5rem;

  .task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    &--header {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      padding: 0 1rem;

      h2 {
        font-size: 1.65rem;
        color: var(--text);
        opacity: 0.8;
        transition: var(--transition-250);
      }
      h6 {
        font-size: 0.75rem;
        color: rgb(133, 184, 133);
      }

      .open-modal {
        position: absolute;
        cursor: pointer;
        color: var(--pink);
        background: var(--btn-bg1);
        border-radius: 0.8rem;
        padding: 0.7rem;
        transition: var(--transition-250);
        font-weight: bold;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border: 2px solid var(--border);

        &:hover {
          background: var(--btn-bg2);
        }
      }
      .hide-btn {
        display: none;
      }
    }
  }
  .tasks {
    min-width: 100%;
    padding-bottom: 5rem;
    margin-top: 1rem;
  }
  .task-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .task {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--darkest);
      padding: 1.5rem 1rem;
      border-radius: 1rem;
      cursor: pointer;
      margin-top: 1rem;
      min-width: 100%;
      box-shadow: var(--box-shadow);
      border: 2px solid var(--border);
      transition: var(--transition-250);
      position: relative;
      overflow: hidden;
      &:hover {
        .times {
          opacity: 1;
        }

        .task__status {
          .delete {
            visibility: visible;
            opacity: 1;
          }
        }
      }
      //Line on task card
      &::before {
        position: absolute;
        content: "";
        width: 10px;
        height: 100%;
        background-color: var(--purple);
        bottom: 50%;
        left: 0;
        transform: translateY(50%);
        transition: var(--transition-250);
      }

      &__status {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
        margin-left: 1rem;

        .fa-check-square {
          transition: var(--transition-250);
          visibility: hidden;
          opacity: 0;
          color: rgb(1, 6, 255);
        }
        .delete {
          transition: var(--transition-250);
          visibility: hidden;
          opacity: 0;
          font-size: 1.8rem;

          &:hover {
            transform: rotate(-90deg);
          }
        }
      }

      .content {
        display: flex;
        align-items: center;
        gap: 0.7rem;

        &-right {
          display: flex;
          flex-direction: column;
          .text {
            color: var(--task-text);
            font-size: 1rem;
            width: 100%;
            overflow-x: auto;
            max-width: 670px;
            transition: var(--transition-250);
            margin-bottom: 0.25rem;

            &::-webkit-scrollbar {
              background: var(--task);
              height: 11px;
              cursor: pointer;
            }
            &::-webkit-scrollbar-button {
              background: var(--task);
            }
            &::-webkit-scrollbar-thumb {
              border-radius: 2rem;
              background: var(--pink);
              max-width: 10px;
            }
            &:not(:read-only) {
              color: var(--pink);
              outline: none;
            }
          }
          .time {
            transition: var(--transition-250);
            opacity: 0.75;
            font-size: 0.73rem;
            font-weight: bold;
            color: var(--text);
            white-space: pre;
          }
        }

        &-left {
          .edit {
            transition: var(--transition-250);
          }

          .editbtn {
            display: flex;
          }
          .savebtn {
            display: none;
          }
        }
      }
    }
    .btn {
      cursor: pointer;
      font-size: 1.35rem;
      transition: var(--transition-150);
      color: var(--btn-bg2);

      &:hover {
        color: var(--pink);
        transform: scale(1.2);
      }
      &:active {
        transform: scale(0.9);
        opacity: 0.5;
      }
    }
  }

  .task-wrapper {
    .completed {
      background-color: rgb(133, 184, 133);
      transition: var(--transition-250);
      border: 2px solid yellowgreen;

      &::before {
        background: yellowgreen;
      }

      .content {
        &-left {
          .edit {
            display: none;
          }
        }
        &-right {
          .text,
          .time {
            color: var(--task-text);
            transition: var(--transition-250);
            position: relative;
            width: fit-content;

            &::before {
              content: "";
              position: absolute;
              background: var(--task-text);
              inset: 0;
              top: 50%;
              height: 2px;
              width: 100%;
              z-index: 1;
              transition: var(--transition-250);
              pointer-events: none;
            }
          }
        }
      }
      .task__status {
        .fa-check-square {
          visibility: visible;
          opacity: 1;
          transition: var(--transition-250);
          font-size: 2rem;
        }
      }
    }
  }

  .task-wrapper {
    .edited {
      cursor: default;
      transform: scale(1.04);
      border: 2px solid var(--purple);
      transition: var(--transition-250);

      .content {
        &-left {
          .savebtn {
            display: flex;
          }

          .editbtn {
            display: none;
          }
        }
      }
    }
  }
}
.task .content .text:not(:read-only) {
  border: none;
}
main {
  .task-wrapper {
    .task2 {
      &::before {
        right: 0;
        left: unset;
      }
    }
  }
}

@media (max-width: 768px) {
  .container-wrapper {
    padding: 1rem;
    main {
      .task-list--header {
        margin-top: 3rem;
        .open-modal {
          padding: 0.4rem;
          top: -1rem;
        }
      }
      .task-wrapper {
        .task {
          .text {
            max-width: 200px;
            font-size: 1rem;
          }
        }
        .delete {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    form {
      .redo-form {
        right: -1.8rem;
        top: 50%;
        transform: translateY(-50%);

        .fa-redo {
          font-size: 1.5rem;
        }
      }
      .submit-btn {
        .new-task-submit {
          padding: 0.5rem 1.5rem;
        }
      }
      .inputs-wrapper {
        gap: 1rem;
        #date,
        #time,
        #text {
          min-width: 311px;
        }
        .second-inputs {
          gap: 1rem;
          display: flex;
          flex-direction: column;
          width: 100%;
        }

        #text {
          &::placeholder {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
