* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--ff-text);
}

body {
  background-color: var(--bg);
  padding: 0 1rem;
}

.container-wrapper {
  padding: 0 2rem;
}

input,
button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border: none;
  background: none;
}

.btn {
  cursor: pointer;
  font-size: 1.3rem;
  -webkit-transition: var(--transition-150);
  transition: var(--transition-150);
  color: var(--btn-bg2);
}

.btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.5;
}

.input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  background-color: var(--darker);
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--text);
  font-size: 1rem;
  -webkit-transition: var(--transition-150);
  transition: var(--transition-150);
  border: 2px solid var(--border);
  outline: none;
  caret-color: var(--btn-bg2);
}

.input::-webkit-input-placeholder {
  color: var(--grey);
  font-size: 1.1rem;
}

.input:-ms-input-placeholder {
  color: var(--grey);
  font-size: 1.1rem;
}

.input::-ms-input-placeholder {
  color: var(--grey);
  font-size: 1.1rem;
}

.input::placeholder {
  color: var(--grey);
  font-size: 1.1rem;
}

.input:focus-within {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  border: 2px solid var(--accent);
}

input[type="date"]::before,
input[type="time"]::before {
  color: var(--text);
  content: attr(placeholder);
}

input[type="date"] {
  color: var(--grey);
}

input[type="time"] {
  color: var(--grey);
}

input[type="time"]:focus,
input[type="time"]:valid {
  color: var(--text);
}

input[type="date"]:focus,
input[type="date"]:valid {
  color: var(--text);
}

input[type="date"]:focus::before,
input[type="date"]:valid::before,
input[type="time"]:focus::before,
input[type="time"]:valid::before {
  content: "" !important;
}

.btn-cta {
  cursor: pointer;
  color: var(--text);
  background-color: var(--darkest);
  border-radius: 0.5rem;
  font-weight: bold;
  border: 2px solid var(--border);
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  padding: 0.7rem;
}

.btn-cta:hover {
  background: var(--btn-bg2) !important;
  color: var(--modal);
}

.hide-element {
  display: none !important;
}

.tippy-box[data-theme~="theme"] {
  color: var(--modal);
  background-color: var(--tippy-bg);
  font-size: 0.8rem;
  font-weight: bold;
}

.tippy-arrow {
  color: var(--tippy-bg);
}

.bgdark {
  --dark: #0e1524;
  --darker: #1f2937;
  --darkest: #111827;
  --grey: #6b7280;
  --pink: #e2469c;
  --purple: #8b5cf6;
  --bg: #2e3a4d;
  --border: #394980;
  --header: rgb(206, 206, 206);
  --text: rgb(206, 206, 206);
  --task-text: rgb(255, 255, 255);
  --btn-bg1: #111827;
  --btn-bg2: #eee;
  --modal: #111827;
  --white: #eee;
  --accent: #d4acaa;
  --sidebar: rgba(61, 109, 199, 0.753);
  --completed: rgba(61, 109, 199, 0.753);
}

.bglight {
  --dark: #0e1524;
  --darker: rgba(214, 214, 214, 0.884);
  --darkest: #e4e0e3c0;
  --grey: #6b7280;
  --pink: #e2469c;
  --purple: #8b5cf6;
  --bg: #eee;
  --border: rgb(179, 179, 179);
  --header: #111827;
  --text: #111827;
  --task-text: #0e1524;
  --btn-bg1: #eee;
  --btn-bg2: #111827;
  --modal: rgb(255, 255, 255);
  --white: #eee;
  --accent: #d4acaa;
  --sidebar: #d4acaa;
  --completed: #d4acaa;
}

:root {
  --transition-350: all 350ms linear;
  --transition-250: all 250ms linear;
  --transition-150: all 150ms linear;
  --box-shadow: rgba(0, 0, 0, 0.473) 1px 3px 30px -15px;
  --ff-text: "Montserrat", sans-serif;
  --ff-header: "Bungee", "cursive", sans-serif;
  --tippy-bg: rgba(172, 73, 106, 0.877);
}

.modal__overlay {
  position: absolute;
  inset: 0;
  min-height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.479);
  position: fixed;
  inset: 0;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
}

.modal {
  position: absolute;
  padding: 1rem;
  top: 13rem;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  background-color: var(--modal);
  border: 2px solid var(--text);
  border-radius: 0.5rem;
  z-index: 150;
  max-width: 380px;
  height: 170px;
  width: 100%;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
}

.modal-contents {
  height: 100%;
  width: 100%;
}

.modal-contents .container {
  margin: auto 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.modal__header {
  font-size: 0.85rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
  color: var(--task-text);
}

.modal__header p {
  font-size: 0.715rem;
  opacity: 0.8;
  margin-top: 0.3rem;
}

.modal__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.modal__actions button {
  padding: 0.6rem 1.2rem;
}

.modal__actions button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.modal__actions button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0.6;
}

.modal__actions .delete-all:hover {
  background-color: var(--tippy-bg) !important;
  color: var(--modal) !important;
  border: 2px solid var(--tippy-bg) !important;
}

.overlay--active {
  visibility: visible !important;
  opacity: 1 !important;
}

.modal--active {
  opacity: 1 !important;
  visibility: visible !important;
}

#theme-toggle {
  cursor: pointer;
  background: none;
  border: none;
  opacity: 0.95;
  border-radius: 50%;
  position: relative;
  isolation: isolate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 70px;
  height: 70px;
  margin-top: 0.3rem;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
}

#theme-toggle svg {
  fill: var(--header);
  width: 60px;
  height: 35px;
}

#theme-toggle::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(128, 128, 128, 0.336);
  border-radius: inherit;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  z-index: -2;
}

.bglight #theme-toggle::before {
  -webkit-animation: pulseToLight 700ms ease-out forwards;
          animation: pulseToLight 700ms ease-out forwards;
}

.bgdark #theme-toggle::before {
  -webkit-animation: pulseToDark 700ms ease-out forwards;
          animation: pulseToDark 700ms ease-out forwards;
}

#theme-toggle:hover,
#theme-toggle:focus {
  outline: 0;
  opacity: 1;
  background: rgba(128, 128, 128, 0.336);
}

.toggle-circle {
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
}

.bgdark .toggle-circle {
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
}

.bglight .toggle-circle {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.toggle-sun {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 850ms cubic-bezier(0.11, 0.14, 0.29, 1.6);
  transition: -webkit-transform 850ms cubic-bezier(0.11, 0.14, 0.29, 1.6);
  transition: transform 850ms cubic-bezier(0.11, 0.14, 0.29, 1.6);
  transition: transform 850ms cubic-bezier(0.11, 0.14, 0.29, 1.6), -webkit-transform 850ms cubic-bezier(0.11, 0.14, 0.29, 1.6);
}

.bglight .toggle-sun {
  -webkit-transform: rotate(0.55turn);
          transform: rotate(0.55turn);
}

@-webkit-keyframes pulseToLight {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.3;
  }
  10% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.7;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulseToLight {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.3;
  }
  10% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.7;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes pulseToDark {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.3;
  }
  10% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.7;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulseToDark {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.3;
  }
  10% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.7;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.task-search {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}

.task-search input {
  width: 100%;
  padding: 0.9rem 1rem;
}

.task-search input:focus-within {
  border-color: var(--pink);
}

@media (max-width: 550px) {
  .search-task::-webkit-input-placeholder {
    font-size: 0.7rem;
  }
  .search-task:-ms-input-placeholder {
    font-size: 0.7rem;
  }
  .search-task::-ms-input-placeholder {
    font-size: 0.7rem;
  }
  .search-task::placeholder {
    font-size: 0.7rem;
  }
}

.snackbar {
  visibility: hidden;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  background-color: var(--btn-bg2);
  color: var(--modal);
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 0.75rem;
  font-size: 0.9rem;
  text-align: center;
  position: fixed;
  z-index: 1;
  right: 4rem;
  bottom: 1rem;
  font-family: var(--ff-text);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.snackbar::before, .snackbar::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1.7rem;
  -webkit-transform: translateX(-50%) rotate(-180deg);
          transform: translateX(-50%) rotate(-180deg);
  border: 20px solid transparent;
  border-bottom-color: var(--btn-bg2);
  z-index: -1;
}

.snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.55), fadeout 0.5s 2s cubic-bezier(0.215, 0.61, 0.355, 1);
          animation: fadein 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.55), fadeout 0.5s 2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@-webkit-keyframes fadein {
  from {
    bottom: -3rem;
    opacity: 0;
  }
  to {
    bottom: 1rem;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: -3rem;
    opacity: 0;
  }
  to {
    bottom: 1rem;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 1rem;
    opacity: 1;
  }
  to {
    bottom: -3rem;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 1rem;
    opacity: 1;
  }
  to {
    bottom: -3rem;
    opacity: 0;
  }
}

header {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  text-align: center;
  font-size: 2.5rem;
  font-size: clamp(1.7rem, 3vw, 2.5rem);
  color: var(--header);
  opacity: 0.85;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  font-family: var(--ff-header);
}

form .redo-form {
  position: absolute;
  right: -3rem;
  top: 36%;
  cursor: pointer;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  color: var(--btn-bg2);
}

form .redo-form:hover {
  -webkit-transform: scale(1.04) rotate(40deg);
          transform: scale(1.04) rotate(40deg);
  color: var(--accent);
}

form .redo-form .fa-redo {
  font-size: 2.2rem;
}

form .inputs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

form .inputs-wrapper .first-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

form .inputs-wrapper .second-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  width: 100%;
}

form .inputs-wrapper .second-inputs #date,
form .inputs-wrapper .second-inputs #time {
  cursor: pointer;
  border-radius: 0.5rem;
}

form .inputs-wrapper .second-inputs .current-date {
  cursor: pointer;
  font-size: 1.65rem;
  color: var(--tippy-bg);
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  opacity: 0.73;
}

form .inputs-wrapper .second-inputs .current-date:hover {
  opacity: 1;
}

form .submit-btn {
  width: 100%;
  text-align: right;
  margin-top: 1rem;
}

form .submit-btn .new-task-submit {
  font-size: 1.1rem;
  background: var(--darker);
  padding: 0.8rem 2rem;
}

form .submit-btn .new-task-submit:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

form .submit-btn .new-task-submit:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.8;
}

main {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  margin-top: 1.5rem;
}

main .task-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .task-list--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0 1rem;
  position: relative;
}

main .task-list--header h2 {
  font-size: 1.65rem;
  color: var(--text);
  opacity: 0.85;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
}

main .task-list--header h6 {
  font-size: 0.7rem;
  color: var(--text);
  opacity: 0.7;
}

main .task-list--header .open-modal {
  position: absolute;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .buttons-wrapper {
  position: relative;
  width: 900px;
}

main .buttons-wrapper .complete-all,
main .buttons-wrapper .uncomplete-all {
  position: absolute;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  right: 0;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .tasks {
  min-width: 100%;
  padding-bottom: 5rem;
  margin-top: 1rem;
}

main .task-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .task-wrapper .task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--darkest);
  padding: 1.5rem 0.6rem;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  min-width: 100%;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border: 2px solid var(--border);
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  will-change: background-color, color;
  position: relative;
  overflow: hidden;
}

main .task-wrapper .task:hover .content .time {
  opacity: 1;
}

main .task-wrapper .task:hover .task__status .delete {
  visibility: visible;
  opacity: 1;
}

main .task-wrapper .task::before {
  position: absolute;
  content: "";
  width: 9px;
  height: 100%;
  background-color: var(--sidebar);
  bottom: 50%;
  left: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: var(--transition-350);
  transition: var(--transition-350);
}

main .task-wrapper .task__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  gap: 0.3rem;
}

main .task-wrapper .task__status .fa-check {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  color: var(--pink);
  font-size: 1.8rem;
  -webkit-transform: scale(0);
          transform: scale(0);
}

main .task-wrapper .task__status .delete {
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

main .task-wrapper .task__status .delete:hover {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

main .task-wrapper .task .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .task-wrapper .task .content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .task-wrapper .task .content-right .text {
  color: var(--task-text);
  font-size: 1rem;
  width: 100%;
  overflow-x: auto;
  max-width: 750px;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  margin-bottom: 0.25rem;
  caret-color: var(--task-text);
}

main .task-wrapper .task .content-right .text::-webkit-scrollbar {
  background: #3435384b;
  height: 10px;
  border-radius: 100vw;
}

main .task-wrapper .task .content-right .text::-webkit-scrollbar:hover {
  background: #6b7280c0;
}

main .task-wrapper .task .content-right .text::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background: #e2469c69;
}

main .task-wrapper .task .content-right .text::-webkit-scrollbar-thumb:hover {
  background: #e2469c;
}

main .task-wrapper .task .content-right .text:not(:-moz-read-only) {
  color: var(--pink);
  outline: none;
}

main .task-wrapper .task .content-right .text:not(:read-only) {
  color: var(--pink);
  outline: none;
}

main .task-wrapper .task .content-right .time {
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  opacity: 0.75;
  font-size: 0.73rem;
  font-weight: bold;
  color: var(--text);
  white-space: pre;
}

main .task-wrapper .task .content-left .edit {
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
}

main .task-wrapper .task .content-left .editbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .task-wrapper .task .content-left .savebtn {
  display: none;
}

main .task-wrapper .completed {
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  border: 2px solid var(border);
}

main .task-wrapper .completed::before {
  background: var(--sidebar);
  -webkit-transform: scale(200);
          transform: scale(200);
  -webkit-transition: var(--transition-350);
  transition: var(--transition-350);
}

main .task-wrapper .completed .content-left .edit {
  font-size: 0;
}

main .task-wrapper .completed .content-right .text,
main .task-wrapper .completed .content-right .time {
  color: var(--btn-bg2);
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main .task-wrapper .completed .content-right .text::before,
main .task-wrapper .completed .content-right .time::before {
  content: "";
  position: absolute;
  background: var(--task-text);
  inset: 0;
  top: 50%;
  height: 2px;
  width: 100%;
  z-index: 1;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  pointer-events: none;
}

main .task-wrapper .completed .task__status {
  position: relative;
}

main .task-wrapper .completed .task__status .fa-check {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.473);
}

main .task-wrapper .edited {
  cursor: default;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  border: 2px solid var(--accent);
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
}

main .task-wrapper .edited .content {
  -webkit-user-select: unset;
     -moz-user-select: unset;
      -ms-user-select: unset;
          user-select: unset;
}

main .task-wrapper .edited .content-left .savebtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main .task-wrapper .edited .content-left .editbtn {
  display: none;
}

.task .content .text:not(:-moz-read-only) {
  border: none;
}

.task .content .text:not(:read-only) {
  border: none;
}

main .task-wrapper .task-reversed::before {
  right: 0;
  left: unset;
}

.add-first-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.6rem;
  margin-top: 2rem;
}

.add-first-task .fa-tasks {
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  font-size: 12rem;
  font-size: clamp(8.5rem, 10vw, 12rem);
  color: var(--text);
}

.add-first-task p {
  color: var(--text);
  font-weight: bold;
  font-size: 1.7rem;
  font-size: clamp(1.1rem, 3vw, 1.7rem);
  opacity: 0.85;
  -webkit-transition: var(--transition-250);
  transition: var(--transition-250);
  text-transform: uppercase;
}

.add-first-task span {
  font-size: 5rem;
  font-size: clamp(4rem, 3vw, 5rem);
}

@media (max-width: 1040px) {
  .buttons-wrapper {
    display: none;
  }
}

@media (max-width: 550px) {
  .container-wrapper {
    padding: 1rem;
  }
  .container-wrapper main .task-list--header {
    margin-top: 3rem;
  }
  .container-wrapper main .task-list--header .open-modal {
    padding: 0.4rem;
    top: 1.3rem;
  }
  .container-wrapper main .task-wrapper .task .text {
    max-width: 200px;
    font-size: 1rem;
  }
  .container-wrapper main .task-wrapper .delete {
    visibility: visible;
    opacity: 1;
  }
  .container-wrapper form .redo-form {
    right: -1.8rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .container-wrapper form .redo-form .fa-redo {
    font-size: 1.5rem;
  }
  .container-wrapper form .submit-btn {
    text-align: center;
  }
  .container-wrapper form .submit-btn .new-task-submit {
    padding: 0.5rem 1.5rem;
  }
  .container-wrapper form .inputs-wrapper {
    gap: 1rem;
    max-width: 311px;
  }
  .container-wrapper form .inputs-wrapper input {
    width: 100%;
  }
  .container-wrapper form .inputs-wrapper .second-inputs {
    gap: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .container-wrapper form .inputs-wrapper #text::-webkit-input-placeholder {
    font-size: 1rem;
  }
  .container-wrapper form .inputs-wrapper #text:-ms-input-placeholder {
    font-size: 1rem;
  }
  .container-wrapper form .inputs-wrapper #text::-ms-input-placeholder {
    font-size: 1rem;
  }
  .container-wrapper form .inputs-wrapper #text::placeholder {
    font-size: 1rem;
  }
  .modal {
    max-width: 343px;
    height: 160px;
  }
  .modal__header {
    font-size: 0.75rem;
  }
  .snackbar {
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    padding: 0.7rem;
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=main.css.map */