@import "./variables";
@import "./helpers";
@import "./deleteModal";
@import "./themeBtn";
@import "./taskSearch";
@import "./snackbar";
@import "./SPOILER_Spacing";

header {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  text-align: center;
  font-size: 2.5rem;
  font-size: clamp(1.7rem, 3vw, 2.5rem);
  color: var(--header);
  opacity: 0.85;
  transition: var(--transition-250);
  font-family: var(--ff-header);
  text-shadow: 3px 2px rgba(0, 0, 0, 0.432);
}

form {
  .inputs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    width: 100%;
    margin: 0 auto;
    .first-input {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .second-inputs {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 100%;
      #date,
      #time {
        cursor: pointer;
        border-radius: 0.5rem;
      }
      .current-date {
        cursor: pointer;
        font-size: 1.65rem;
        color: var(--tippy-bg);
        transition: var(--transition-150);
        &:hover {
          transform: scale(1.1);
        }

        &:active {
          opacity: 0.7;
          transform: scale(0.9);
        }
      }
    }
  }

  .submit-btn {
    width: 100%;
    text-align: right;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;

    .new-task-submit {
      font-size: 1.1rem;
      background: var(--darker);
      padding: 0.8rem 2rem;
      cursor: pointer;
    }

    .new-task-submit:hover {
      transform: scale(1.02);
      background: var(--btn-bg2);
    }
    .new-task-submit:active {
      transform: scale(0.9);
      opacity: 0.8;
    }

    .fa-redo {
      font-size: 2rem;
      transition: var(--transition-250);
      color: var(--btn-bg2);
      cursor: pointer;

      &:hover {
        transform: scale(1.04) rotate(90deg);
        color: var(--tippy-bg);
      }
    }
  }
}

main {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  margin-top: 1.5rem;

  .task-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    &--wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .tasks-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
          display: flex;
          align-items: flex-end;
          font-size: 1.7rem;
          font-size: clamp(1.1rem, 3vw, 2.2rem);
          opacity: 0.9;
          transition: var(--transition-250);
          color: var(--text);
          text-transform: uppercase;
          white-space: pre;
          letter-spacing: -1px;
          .emoji {
            font-size: 1.7rem;
            font-size: clamp(1.1rem, 3vw, 2rem);
          }
          .task-left-amount {
            animation: PopUp 400ms $ease-out;
            min-width: 5px;
          }
        }
        h6 {
          font-size: 0.73rem;
          color: var(--text);
          opacity: 0.7;
        }
      }
    }
  }
  .tasks {
    min-width: 100%;
    padding: 0 0.5rem;
    padding-bottom: 5rem;
  }
  .task-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .task {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--darkest);
      padding: 1.2rem 0.6rem;
      border-radius: 1rem;
      cursor: pointer;
      margin-top: 1rem;
      min-width: 100%;
      box-shadow: var(--box-shadow);
      border: 2px solid var(--border);
      transition: var(--transition-250);
      will-change: background-color, color;
      position: relative;
      overflow: hidden;
      &:hover {
        .content {
          .time {
            opacity: 1;
          }
        }

        .task__status {
          .delete {
            visibility: visible;
            opacity: 1;
          }
        }
      }
      //Line on task card
      &::before {
        position: absolute;
        content: "";
        width: 9px;
        height: 100%;
        background-color: var(--sidebar);
        bottom: 50%;
        left: 0;
        transform: translateY(50%);
        transition: var(--transition-350);
      }

      &__status {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 1;
        gap: 0.3rem;

        .fa-check {
          visibility: hidden;
          opacity: 0;
          transition: var(--transition-250);
          color: var(--pink);
          font-size: 1.8rem;
          transform: scale(0);
        }
        .delete {
          transition: var(--transition-250);
          visibility: hidden;
          opacity: 0;
          font-size: 1.8rem;

          &:hover {
            transform: rotate(-90deg);
          }
        }
      }

      .content {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        z-index: 1;
        user-select: none;

        &-right {
          display: flex;
          flex-direction: column;
          .text {
            color: var(--task-text);
            font-size: 1rem;
            width: 100%;
            overflow-x: auto;
            max-width: 750px;
            transition: var(--transition-250);
            margin-bottom: 0.3rem;
            caret-color: var(--task-text);

            &::-webkit-scrollbar {
              background: #3435384b;
              height: 10px;
              border-radius: 100vw;

              &:hover {
                background: #6b7280c0;
              }
            }

            &::-webkit-scrollbar-thumb {
              border-radius: 100vw;

              background: #e2469c69;

              &:hover {
                background: #e2469c;
              }
            }
            &:not(:read-only) {
              color: var(--pink);
              outline: none;
            }
          }
          .time {
            transition: var(--transition-250);
            opacity: 0.75;
            font-size: 0.73rem;
            font-weight: bold;
            color: var(--text);
            white-space: pre;
          }
        }

        &-left {
          .edit {
            transition: var(--transition-250);
          }

          .editbtn {
            display: flex;
          }
          .savebtn {
            display: none;
          }
        }
      }
    }
  }
  .task-wrapper {
    .task-reversed {
      &::before {
        right: 0;
        left: unset;
      }
    }
  }

  .task-wrapper {
    .completed {
      transition: var(--transition-250);
      border: 2px solid var(border);
      transform: scale(0.98);

      &::before {
        background: var(--sidebar);
        transform: scale(200);
        transition: var(--transition-350);
      }

      .content {
        &-left {
          .edit {
            font-size: 0;
            visibility: hidden;
          }
        }
        &-right {
          .text,
          .time {
            color: var(--btn-bg2);
            transition: var(--transition-250);
            position: relative;
            width: fit-content;

            &::before {
              content: "";
              position: absolute;
              background: var(--task-text);
              inset: 0;
              top: 50%;
              height: 2px;
              width: 100%;
              z-index: 1;
              transition: var(--transition-250);
              pointer-events: none;
            }
          }
        }
      }
      .task__status {
        position: relative;
        .fa-check {
          visibility: visible;
          opacity: 1;
          transform: scale(1);
          transition: var(--transition-250);
          text-shadow: 0 0 3px rgba(0, 0, 0, 0.473);
        }
      }
    }
  }

  .task-wrapper {
    .edited {
      cursor: default;
      transform: scale(1.02);
      border: 2px solid var(--accent);
      transition: var(--transition-250);

      .content {
        user-select: unset;

        &-left {
          .savebtn {
            display: flex;
            transform: scale(1.05);
          }

          .editbtn {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .container-wrapper {
    padding: 0;
    nav {
      margin-bottom: 2rem;
    }
    main {
      .task-list--wrapper {
        margin-top: 1.5rem;
        .tasks-header {
          h6 {
            font-size: 0.55rem;
          }
        }
      }
      .task-wrapper {
        .task {
          .text {
            max-width: 200px;
            font-size: 1rem;
          }
        }
        .delete {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    form {
      .redo-form {
        .fa-redo {
          font-size: 1.5rem;
        }
      }
      .submit-btn {
        justify-content: center;
        margin-top: 1rem;
        .new-task-submit {
          padding: 0.5rem 1.5rem;
        }
      }
      .inputs-wrapper {
        gap: 1rem;
        max-width: 311px;
        input {
          width: 100%;
        }
        .second-inputs {
          gap: 1rem;
          display: flex;
          flex-direction: column;
          width: 100%;
        }
      }
    }
  }

  // Modal Media Query
  .modal {
    max-width: 343px;
    height: 160px;
    &__header {
      font-size: 0.75rem;
    }
  }

  //Snackbar media query
  .snackbar {
    padding: 0.7rem;
    font-size: 0.8rem;
    min-width: max-content;
  }
}
